# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [7]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [37]:
# 計算每個不同種類 animal 的 age 的平均數
dfanimal= df.groupby("animal")
dfanimal.mean()
# 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(by=['age', 'visits'],ascending  =[ True, False])
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df['priority'].replace(['yes','no'],['True','False'])

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: object

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [61]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.296587  0.526922  0.061904
1  0.704826  0.954536  0.246621
2  0.441162  0.517651  0.839974
3  0.733445  0.480053  0.372879
4  0.227391  0.017278  0.808789

In [62]:
#2. 一個包含兩個欄位的 DataFrame，將每個數字減去1) 該欄位的平均數
print(df - df.mean())

          0         1         2
0 -0.184095  0.027634 -0.404129
1  0.224144  0.455248 -0.219412
2 -0.039520  0.018363  0.373940
3  0.252763 -0.019235 -0.093154
4 -0.253291 -0.482009  0.342756

In [63]:
#2. 一個包含兩個欄位的 DataFrame，將每個數字減去2) 該筆資料平均數

print(df.sub(df.mean(axis=1),axis=0))

          0         1         2
0  0.001449  0.231784 -0.233233
1  0.069498  0.319209 -0.388707
2 -0.158434 -0.081945  0.240379
3  0.204652 -0.048739 -0.155913
4 -0.123762 -0.333875  0.457636

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [67]:
print(df.sum(axis=1))
df.sum(axis=1).idxmin()

0    0.885413
1    1.905983
2    1.798786
3    1.586376
4    1.053459
dtype: float64

0

In [68]:
print(df.sum())
df.sum().idxmin()

0    2.403410
1    2.496440
2    2.330167
dtype: float64

2